<form #f="ngForm">
    <div style="margin: auto; width: 700px;">
        <input type="text" name="ser" placeholder="        Search your mind out!" [(ngModel)]="searchterm" style="border:1px solid black ;font-size: 15px;height: 30px; border-radius: 3px;width: 600px; "/>
        <button (click)="search()" class="button" style="border-radius: 1px; ">></button>
    </div>
</form>

<div style="margin-top: 20px;">
    <div id="projs" style="position: absolute;">
        
    </div>
    <div style="display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap; position: relative;  z-index: -1;">
    <img #a alt=" " style="height:250px;width:250px; border-radius: 25px;margin-top: 15px;object-fit: cover; "/>
    <img #b alt=" " style="height:250px;width:250px; border-radius: 25px;margin-top: 15px;object-fit: cover; "/>
    <img #c alt=" " style="height:250px;width:250px; border-radius: 25px;margin-top: 15px;object-fit: cover; "/>
    <img #d alt=" " style="height:250px;width:250px; border-radius: 25px;margin-top: 15px;object-fit: cover; "/>
    <img #e alt=" " style="height:250px;width:250px; border-radius: 25px;margin-top: 15px;object-fit: cover; "/>
    <img #z alt=" " style="height:250px;width:250px; border-radius: 25px;margin-top: 15px;object-fit: cover; "/>
    <img #g alt=" " style="height:250px;width:250px; border-radius: 25px;margin-top: 15px;object-fit: cover; "/>
    <img #h alt=" " style="height:250px;width:250px; border-radius: 25px;margin-top: 15px;object-fit: cover; "/>
    </div>
</div>
<div style="height: 20px;"></div>

<div id="pages" style="position: sticky;
margin:auto;
text-decoration: none;
bottom: 0;
color: white;
width: 20%;
text-align: center;display: flex; align-items: center; justify-content: space-evenly;align-content:space-evenly;font-size: 17px;"></div>
