<app-topbar></app-topbar>
<form #f="ngForm">
    Project Name: (use '_' instead of space)<input type="text" name="pn" [(ngModel)]="projname" />
   <div id="projnamesug"></div>
   <div style="display: none;" id="projectexists">Project with this name already exists</div>

   Description: <textarea id="projectdescription" ></textarea>
   <div id="projdescriptionsug"></div>

   How to Setup: <textarea id="projecthowtosetup" ></textarea>
   <div id="projhowtosetupsug"></div>

   Tags(Comma seperated keywords to get discovered): 
   <textarea id="projecttags" ></textarea>
   <div id="projtagssug"></div>

   Select 5 images of your project: 
   <input type="file" multiple name="projectuploader" accept=".jpg, .png, .jpeg|image/*" (change)="getimages($event)">
   <div id="projuploadersug"></div>

   Zip file with project files: <input type="file" name="zip" accept=".zip" (change)="getzip($event)">
   <div id="projzipsug">Select one zip file containing project files</div>
   <button (click)="sendprojdetails()">Submit</button>
   
</form>

