<app-topbar></app-topbar>
<div style="margin: auto; border: solid black 1px;width: 1000px;">
    <form #f="ngForm">
        Email: <input type="text" name="inputEmail" [(ngModel)]="emailofuser"> <br>
        Password: <input type="password" name="inputPassword" [(ngModel)]="passwordofuser"> <br>
        <button (click) = "signInAction()">Sign In!</button>
        <div id="emailpasswordsuggestion"></div>
        <button (click)="forgotactivate()">Forgot Password?</button>
        <div id="forgotpassword" style="display: none;">
            Enter Registered email<input type="text" id="forgotemail" name="for" [(ngModel)]='forgotemail'>
            <button (click)="changepassword()">Send Mail</button>
        </div>
        <div id="emailsent" style="display: none;">Check your email for Link to reset password</div>
    </form>
</div>

<div id="fromwhere"></div>
