<app-topbar></app-topbar>

<div style="margin: auto; border: solid black 1px;width: 250px;text-align: center;padding: 20px; border-radius: 2px;background-color: #F7A994;">
    <form #f="ngForm">
        <br>
        <p style="font-size:small;">Email</p> <input type="text" name="inputEmail" [(ngModel)]="emailofuser" style="border-radius: 10px; width: 200px; border: solid black 0px; outline: none; padding: 3px;"> <br><br>
        <p style="font-size:small;">Password</p> <input type="password" name="inputPassword" [(ngModel)]="passwordofuser" style="border-radius: 10px; width: 200px; border: solid black 0px; outline: none; padding: 3px;"> <br><br>
        <button (click) = "signInAction()" style="border-radius: 5px; height: 20px; width: 75px; cursor: pointer;font-size: small;">Sign In!</button>
        <div id="emailpasswordsuggestion"></div>
        <div style="height: 75px;"></div>
        <button (click)="forgotactivate()" style="background-color: white;border-radius: 10px; padding: 5px; cursor: pointer;">Forgot Password?</button>
        
        <div id="forgotpassword" style="display: none;">
            Enter Registered Email<br><input type="text" id="forgotemail" name="for" [(ngModel)]='forgotemail' style="border-radius: 2px;">
            <button (click)="changepassword()" style="background-color: white;border-radius: 10px; padding: 5px; cursor: pointer;">Send Mail</button>
        </div>
        <div id="emailsent" style="display: none;">Check your email for Link to reset password</div>
    </form>
</div>
<br>
<div id="fromwhere" style="width: 300px; margin: auto;color: black;background-color: #A0F797;display: flex;justify-content: center;text-align: center;"></div>

